.postprofile dt  {
	float: left;
	margin: 0px 10px 0px 0px;
}

.postprofile .username-coloured, .postprofile .username {
	display: none !important;
}

.postprofile {
	float: none !important;
}

.postbody {
	width: 100% !important;
}